USE [MISDB]
GO
/****** Object:  Schema [star]    Script Date: 2026/04/23 11:11:33 ******/
CREATE SCHEMA [star]
GO
/****** Object:  Table [star].[CollectorCashup]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[CollectorCashup](
	[CollectorCashupId] [bigint] NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[ShiftId] [tinyint] NOT NULL,
	[SystemUserId] [bigint] NOT NULL,
	[TotalNumberOfCashDeclarations] [tinyint] NOT NULL,
	[TotalLocalCurrencyDeclared] [float] NOT NULL,
	[TotalForeignCurrenyDeclared] [float] NOT NULL,
	[TotalZARDeclared] [float] NOT NULL,
	[TotalUSDDeclared] [float] NOT NULL,
	[TotalDeclared] [float] NOT NULL,
	[TotalDeclaredAllocatedToDiscrepancy] [float] NOT NULL,
	[TotalChangeGivenForeignCurrency] [float] NOT NULL,
	[TotalCashTransactions] [float] NOT NULL,
	[TotalZARReceived] [float] NOT NULL,
	[TotalUSDReceived] [float] NOT NULL,
	[TotalMisclassification] [float] NOT NULL,
	[TotalInvalidExempts] [float] NOT NULL,
	[TotalViolations] [float] NOT NULL,
	[TotalCashShortage] [float] NOT NULL,
	[TotalTransactionShortages] [float] NOT NULL,
	[TotalUSDShortages] [float] NOT NULL,
	[TotalZARShortages] [float] NOT NULL,
	[TotalShortages] [float] NOT NULL,
	[CashedUpAt] [datetime] NOT NULL,
	[TotalInvalidTimeouts] [float] NOT NULL,
	[ShortagesReceived] [float] NOT NULL,
	[OutstandingAmount] [float] NOT NULL,
	[TotalCashSurplus] [float] NOT NULL,
	[TotalTransactionSurplus] [float] NOT NULL,
	[TotalSurplus] [float] NOT NULL,
	[TotalZARSuplus] [float] NOT NULL,
	[TotalUSDSurplus] [float] NOT NULL,
 CONSTRAINT [PK_Star_CollectorCashup] PRIMARY KEY CLUSTERED 
(
	[CollectorCashupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Currency]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Currency](
	[CurrencyId] [tinyint] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Symbol] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Star_Currency] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Discounts]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Discounts](
	[ReportDate] [date] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[Class_1_AnonymousCount] [int] NOT NULL,
	[Class_2_AnonymousCount] [int] NOT NULL,
	[Class_3_AnonymousCount] [int] NOT NULL,
	[Class_4_AnonymousCount] [int] NOT NULL,
	[Class_D_AnonymousCount] [int] NOT NULL,
	[Class_M_AnonymousCount] [int] NOT NULL,
	[Class_1_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_2_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_3_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_4_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_D_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_M_AnonymousAmount] [decimal](18, 2) NOT NULL,
	[Class_1_StaffCount] [int] NOT NULL,
	[Class_2_StaffCount] [int] NOT NULL,
	[Class_3_StaffCount] [int] NOT NULL,
	[Class_4_StaffCount] [int] NOT NULL,
	[Class_D_StaffCount] [int] NOT NULL,
	[Class_M_StaffCount] [int] NOT NULL,
	[Class_1_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_2_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_3_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_4_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_D_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_M_StaffAmount] [decimal](18, 2) NOT NULL,
	[Class_1_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_2_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_3_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_4_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_D_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_M_IndividualAmount] [decimal](18, 2) NOT NULL,
	[Class_1_CorporateAmount] [decimal](18, 2) NOT NULL,
	[Class_2_CorporateAmount] [decimal](18, 2) NOT NULL,
	[Class_3_CorporateAmount] [decimal](18, 2) NOT NULL,
	[Class_4_CorporateAmount] [decimal](18, 2) NOT NULL,
	[Class_D_CorporateAmount] [decimal](18, 2) NOT NULL,
	[Class_M_CorporateAmount] [decimal](18, 2) NOT NULL,
	[TotalDiscountCount] [int] NOT NULL,
	[TotalDiscountAmount] [decimal](18, 2) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[DiscountType]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[DiscountType](
	[DiscountTypeId] [tinyint] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Star_DiscountType] PRIMARY KEY CLUSTERED 
(
	[DiscountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Exempts]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Exempts](
	[ReportDate] [date] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[Class_1_ExemptCount] [int] NOT NULL,
	[Class_2_ExemptCount] [int] NOT NULL,
	[Class_3_ExemptCount] [int] NOT NULL,
	[Class_4_ExemptCount] [int] NOT NULL,
	[Class_D_ExemptCount] [int] NOT NULL,
	[Class_M_ExemptCount] [int] NOT NULL,
	[Class_1_ExemptAmount] [decimal](18, 2) NOT NULL,
	[Class_2_ExemptAmount] [decimal](18, 2) NOT NULL,
	[Class_3_ExemptAmount] [decimal](18, 2) NOT NULL,
	[Class_4_ExemptAmount] [decimal](18, 2) NOT NULL,
	[Class_D_ExemptAmount] [decimal](18, 2) NOT NULL,
	[Class_M_ExemptAmount] [decimal](18, 2) NOT NULL,
	[TotalExemptCount] [int] NOT NULL,
	[TotalExemptAmount] [decimal](18, 2) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Exempts] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[OtherIncome]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[OtherIncome](
	[ReportDate] [date] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[CashTopupAmount] [decimal](18, 2) NOT NULL,
	[DigitalTopupAmount] [decimal](18, 2) NOT NULL,
	[SwitchTopupAmount] [decimal](18, 2) NOT NULL,
	[NFCTopupAmount] [decimal](18, 2) NOT NULL,
	[BankDepositTopupAmount] [decimal](18, 2) NOT NULL,
	[TotalTopupAmount] [decimal](18, 2) NOT NULL,
	[TotalNettAmount] [decimal](18, 2) NOT NULL,
	[TotalActualAmount] [decimal](18, 2) NOT NULL,
	[TotalDeclaredAmount] [decimal](18, 2) NOT NULL,
	[ExpectedAmount] [decimal](18, 2) NOT NULL,
	[CashSurplusShortage] [decimal](18, 2) NOT NULL,
	[TotalOtherIncome] [decimal](18, 2) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_OtherIncome] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Reconciliation]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Reconciliation](
	[ReportDate] [date] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[CashDeclared] [decimal](18, 2) NOT NULL,
	[CashBanked] [decimal](18, 2) NOT NULL,
	[CashSurplusShortage] [decimal](18, 2) NOT NULL,
	[SwitchAmount] [decimal](18, 2) NOT NULL,
	[DigitalAmount] [decimal](18, 2) NOT NULL,
	[PrePaidTotal] [decimal](18, 2) NOT NULL,
	[SmartCardAmount] [decimal](18, 2) NOT NULL,
	[ETCTagAmount] [decimal](18, 2) NOT NULL,
	[OtherLaneTotal] [decimal](18, 2) NOT NULL,
	[ViolationAmount] [decimal](18, 2) NOT NULL,
	[ExemptionsAmount] [decimal](18, 2) NOT NULL,
	[CollectorDebt] [decimal](18, 2) NOT NULL,
	[CashShortages] [decimal](18, 2) NOT NULL,
	[TotalAccounted] [decimal](18, 2) NOT NULL,
	[Discrepancy] [decimal](18, 2) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Reconciliation] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[RegisteredUserTopUp]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[RegisteredUserTopUp](
	[RegisteredUserTopUpId] [bigint] NOT NULL,
	[RegisterUserId] [bigint] NOT NULL,
	[SystemUserId] [bigint] NOT NULL,
	[RechargedOn] [datetime] NOT NULL,
	[RechargeShift] [tinyint] NOT NULL,
	[RechargeStation] [varchar](255) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[PaymentMethodId] [tinyint] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_Star_RegisteredUserTopUp] PRIMARY KEY CLUSTERED 
(
	[RegisteredUserTopUpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Shift]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Shift](
	[ShiftId] [tinyint] NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[StartTimeHour] [time](7) NULL,
	[EndTimeHour] [time](7) NULL,
 CONSTRAINT [PK_Star_Shift] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[TheoreticalIncome]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[TheoreticalIncome](
	[ReportDate] [date] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[Metric] [varchar](50) NOT NULL,
	[Class_1] [decimal](18, 2) NULL,
	[Class_2] [decimal](18, 2) NULL,
	[Class_3] [decimal](18, 2) NULL,
	[Class_4] [decimal](18, 2) NULL,
	[Class_D] [decimal](18, 2) NULL,
	[Class_M] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TheoreticalIncome] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC,
	[Metric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[TollClass]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[TollClass](
	[TollClassId] [tinyint] NOT NULL,
	[ClassDescription] [varchar](255) NOT NULL,
	[DisplayOrder] [tinyint] NOT NULL,
	[SendForValidation] [bit] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[TollClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[Transaction]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[Transaction](
	[LaneId] [tinyint] NOT NULL,
	[TransactionNumber] [bigint] NOT NULL,
	[TransactionTypeId] [tinyint] NOT NULL,
	[DiscountTypeId] [tinyint] NULL,
	[TransactionDateTime] [datetime] NOT NULL,
	[ShiftId] [tinyint] NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[SystemUserId] [bigint] NULL,
	[ManualTollClassId] [tinyint] NOT NULL,
	[TariffPlanId] [int] NOT NULL,
	[CurrencyId] [tinyint] NOT NULL,
	[NominalTariff] [float] NOT NULL,
	[DiscountValue] [float] NOT NULL,
	[DiscountPercentage] [float] NOT NULL,
	[NettAmount] [float] NOT NULL,
	[VatAmout] [float] NOT NULL,
	[InvoiceReceiptPrefix] [varchar](255) NOT NULL,
	[InvoiceNo] [bigint] NULL,
	[ReceiptNo] [bigint] NULL,
	[AutomaticTollClassId] [tinyint] NULL,
	[AutomaticAmount] [float] NULL,
	[ForeignCurrencyReceived] [float] NULL,
	[ExchangeRateUsed] [float] NULL,
	[ChangeInLocalCurrency] [float] NULL,
	[RegisteredUserId] [bigint] NULL,
	[RegisteredIdentifier] [varchar](255) NULL,
	[RegisteredTollClassId] [tinyint] NULL,
	[CardNumber] [varchar](255) NULL,
	[ActualTollClassId] [tinyint] NULL,
	[ActualAmount] [float] NULL,
	[AllocatedToCollectorCashupId] [bigint] NULL,
	[CreatedDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Star_Transaction] PRIMARY KEY CLUSTERED 
(
	[LaneId] ASC,
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [star].[TransactionType]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [star].[TransactionType](
	[TransactionTypeId] [tinyint] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Star_TransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_AnonymousCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_AnonymousAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_StaffCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_StaffAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_IndividualAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_1_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_2_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_3_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_4_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_D_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [Class_M_CorporateAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [TotalDiscountCount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT ((0)) FOR [TotalDiscountAmount]
GO
ALTER TABLE [star].[Discounts] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_1_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_2_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_3_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_4_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_D_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_M_ExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_1_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_2_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_3_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_4_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_D_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [Class_M_ExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [TotalExemptCount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT ((0)) FOR [TotalExemptAmount]
GO
ALTER TABLE [star].[Exempts] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [CashTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [DigitalTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [SwitchTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [NFCTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [BankDepositTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [TotalTopupAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [TotalNettAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [TotalActualAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [TotalDeclaredAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [ExpectedAmount]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [CashSurplusShortage]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT ((0)) FOR [TotalOtherIncome]
GO
ALTER TABLE [star].[OtherIncome] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [CashDeclared]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [CashBanked]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [CashSurplusShortage]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [SwitchAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [DigitalAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [PrePaidTotal]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [SmartCardAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [ETCTagAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [OtherLaneTotal]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [ViolationAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [ExemptionsAmount]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [CollectorDebt]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [CashShortages]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [TotalAccounted]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT ((0)) FOR [Discrepancy]
GO
ALTER TABLE [star].[Reconciliation] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [star].[TheoreticalIncome] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [star].[Transaction] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
/****** Object:  StoredProcedure [star].[usp_RefreshAll]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshAll]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT '========================================';
    PRINT 'Starting full refresh for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE ' (All Shifts)' END;
    PRINT '========================================';
    
    -- CollectorCashup population
    EXEC [star].[usp_PullCollectorCashup] @ReportDate, @ReportDate;
    
    -- refresh transaction data
    EXEC [star].[usp_RefreshTransaction] @ReportDate, @ShiftId;
    EXEC [star].[usp_RefreshExempts] @ReportDate, @ShiftId;
    EXEC [star].[usp_RefreshTheoreticalIncome] @ReportDate, @ShiftId;
    EXEC [star].[usp_RefreshDiscounts] @ReportDate, @ShiftId;
    EXEC [star].[usp_RefreshOtherIncome] @ReportDate, @ShiftId;
    EXEC [star].[usp_RefreshReconciliation] @ReportDate, @ShiftId;
    
    PRINT '========================================';
    PRINT 'Refresh completed';
    PRINT '========================================';
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshCollectorCashup]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshCollectorCashup]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Delete existing data for the date range
    DELETE FROM [star].[CollectorCashup] 
    WHERE ShiftDate BETWEEN @StartDate AND @EndDate;
    
    -- Insert from source
    INSERT INTO [star].[CollectorCashup] (
        CollectorCashupId, ShiftDate, ShiftId, SystemUserId,
        TotalNumberOfCashDeclarations, TotalLocalCurrencyDeclared, TotalForeignCurrenyDeclared,
        TotalZARDeclared, TotalUSDDeclared, TotalDeclared, TotalDeclaredAllocatedToDiscrepancy,
        TotalChangeGivenForeignCurrency, TotalCashTransactions, TotalZARReceived, TotalUSDReceived,
        TotalMisclassification, TotalInvalidExempts, TotalViolations, TotalCashShortage,
        TotalTransactionShortages, TotalUSDShortages, TotalZARShortages, TotalShortages,
        CashedUpAt, TotalInvalidTimeouts, ShortagesReceived, OutstandingAmount,
        TotalCashSurplus, TotalTransactionSurplus, TotalSurplus, TotalZARSuplus, TotalUSDSurplus
    )
    SELECT 
        CollectorCashupId, ShiftDate, ShiftId, SystemUserId,
        TotalNumberOfCashDeclarations, TotalLocalCurrencyDeclared, TotalForeignCurrenyDeclared,
        TotalZARDeclared, TotalUSDDeclared, TotalDeclared, TotalDeclaredAllocatedToDiscrepancy,
        TotalChangeGivenForeignCurrency, TotalCashTransactions, TotalZARReceived, TotalUSDReceived,
        TotalMisclassification, TotalInvalidExempts, TotalViolations, TotalCashShortage,
        TotalTransactionShortages, TotalUSDShortages, TotalZARShortages, TotalShortages,
        CashedUpAt, TotalInvalidTimeouts, ShortagesReceived, OutstandingAmount,
        TotalCashSurplus, TotalTransactionSurplus, TotalSurplus, TotalZARSuplus, TotalUSDSurplus
    FROM [dbo].[CollectorCashup]
    WHERE ShiftDate BETWEEN @StartDate AND @EndDate;
    
    PRINT 'CollectorCashup data pulled for ' + CAST(@StartDate AS VARCHAR(20)) + ' to ' + CAST(@EndDate AS VARCHAR(20)) +
          ' - Records: ' + CAST(@@ROWCOUNT AS VARCHAR(10));
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshCurrentDay]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshCurrentDay]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Calculate current operational day (05:30 to next day 05:29)
    DECLARE @CurrentDateTime DATETIME = GETDATE();
    DECLARE @OperationalDate DATE;
    
    -- If current time is between 00:00 and 05:29, the operational day is yesterday
    -- If current time is between 05:30 and 23:59, the operational day is today
    IF DATEPART(HOUR, @CurrentDateTime) < 5 OR (DATEPART(HOUR, @CurrentDateTime) = 5 AND DATEPART(MINUTE, @CurrentDateTime) < 30)
    BEGIN
        SET @OperationalDate = DATEADD(DAY, -1, CAST(@CurrentDateTime AS DATE));
    END
    ELSE
    BEGIN
        SET @OperationalDate = CAST(@CurrentDateTime AS DATE);
    END
    
    PRINT 'Refreshing data for operational day: ' + CAST(@OperationalDate AS VARCHAR(20));
    
    -- Refresh all data for the current operational day (all shifts)
    EXEC [star].[usp_RefreshAll] @ReportDate = @OperationalDate, @ShiftId = NULL;
    
    PRINT 'Refresh completed at: ' + CAST(GETDATE() AS VARCHAR(30));
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshDiscounts]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshDiscounts]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    DELETE FROM [star].[Discounts] 
    WHERE ReportDate = @ReportDate;
    
    -- Only insert if there are discount transactions
    IF EXISTS (
        SELECT 1 FROM [dbo].[Transaction] t
        WHERE t.DiscountTypeId = 4
          AND t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId)
    )
    BEGIN
        INSERT INTO [star].[Discounts] 
        (ReportDate, StartDateTime, EndDateTime,
         Class_1_AnonymousCount, Class_2_AnonymousCount, Class_3_AnonymousCount, Class_4_AnonymousCount, Class_D_AnonymousCount, Class_M_AnonymousCount,
         Class_1_AnonymousAmount, Class_2_AnonymousAmount, Class_3_AnonymousAmount, Class_4_AnonymousAmount, Class_D_AnonymousAmount, Class_M_AnonymousAmount,
         Class_1_StaffCount, Class_2_StaffCount, Class_3_StaffCount, Class_4_StaffCount, Class_D_StaffCount, Class_M_StaffCount,
         Class_1_StaffAmount, Class_2_StaffAmount, Class_3_StaffAmount, Class_4_StaffAmount, Class_D_StaffAmount, Class_M_StaffAmount,
         Class_1_IndividualAmount, Class_2_IndividualAmount, Class_3_IndividualAmount, Class_4_IndividualAmount, Class_D_IndividualAmount, Class_M_IndividualAmount,
         Class_1_CorporateAmount, Class_2_CorporateAmount, Class_3_CorporateAmount, Class_4_CorporateAmount, Class_D_CorporateAmount, Class_M_CorporateAmount,
         TotalDiscountCount, TotalDiscountAmount)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime,
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 1 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 2 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 3 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 4 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 5 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 6 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 1 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 2 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 3 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 4 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 5 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 6 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05 END), 0),
            0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0,
            COUNT(*),
            ISNULL(SUM(CAST(t.NominalTariff AS DECIMAL(18,2)) * 0.05), 0)
        FROM [dbo].[Transaction] t
        WHERE t.DiscountTypeId = 4
          AND t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId);
    END
    
    PRINT 'Discounts refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END;
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshExempts]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshExempts]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    DELETE FROM [star].[Exempts] 
    WHERE ReportDate = @ReportDate;
    
    -- Only insert if there are exempt transactions
    IF EXISTS (
        SELECT 1 FROM [dbo].[Transaction] t
        WHERE t.TransactionTypeId = 4
          AND t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId)
    )
    BEGIN
        INSERT INTO [star].[Exempts] 
        (ReportDate, StartDateTime, EndDateTime,
         Class_1_ExemptCount, Class_1_ExemptAmount,
         Class_2_ExemptCount, Class_2_ExemptAmount,
         Class_3_ExemptCount, Class_3_ExemptAmount,
         Class_4_ExemptCount, Class_4_ExemptAmount,
         Class_D_ExemptCount, Class_D_ExemptAmount,
         Class_M_ExemptCount, Class_M_ExemptAmount,
         TotalExemptCount, TotalExemptAmount)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime,
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 1 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 1 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 2 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 2 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 3 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 3 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 4 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 4 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 5 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 5 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 6 THEN 1 END), 0),
            ISNULL(SUM(CASE WHEN t.ManualTollClassId = 6 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            COUNT(*),
            ISNULL(SUM(CAST(t.NominalTariff AS DECIMAL(18,2))), 0)
        FROM [dbo].[Transaction] t
        WHERE t.TransactionTypeId = 4
          AND t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId);
    END
    
    PRINT 'Exempts refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END;
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshOtherIncome]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshOtherIncome]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    DELETE FROM [star].[OtherIncome] WHERE ReportDate = @ReportDate;
    
    -- Top-ups
    DECLARE @CashTopupAmount DECIMAL(18,2) = 0;
    DECLARE @DigitalTopupAmount DECIMAL(18,2) = 0;
    DECLARE @SwitchTopupAmount DECIMAL(18,2) = 0;
    DECLARE @NFCTopupAmount DECIMAL(18,2) = 0;
    DECLARE @BankDepositTopupAmount DECIMAL(18,2) = 0;
    DECLARE @TotalTopupAmount DECIMAL(18,2) = 0;
    
    SELECT 
        @CashTopupAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 1 THEN Amount END), 0),
        @DigitalTopupAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 2 THEN Amount END), 0),
        @SwitchTopupAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 3 THEN Amount END), 0),
        @NFCTopupAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 4 THEN Amount END), 0),
        @BankDepositTopupAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 5 THEN Amount END), 0),
        @TotalTopupAmount = ISNULL(SUM(Amount), 0)
    FROM [dbo].[RegisteredUserTopUp]
    WHERE CAST(RechargedOn AS DATE) = @ReportDate;
    
    -- Cash surplus/shortage from CollectorCashup
    DECLARE @TotalDeclaredAmount DECIMAL(18,2) = 0;
    DECLARE @TotalCashTransactions DECIMAL(18,2) = 0;
    DECLARE @CashSurplusShortage DECIMAL(18,2) = 0;
    
    SELECT 
        @TotalDeclaredAmount = ISNULL(SUM(TotalDeclared), 0),
        @TotalCashTransactions = ISNULL(SUM(TotalCashTransactions), 0)
    FROM [star].[CollectorCashup]
    WHERE ShiftDate = @ReportDate
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    SET @CashSurplusShortage = @TotalDeclaredAmount - @TotalCashTransactions;
    
    -- Total Other Income
    DECLARE @TotalOtherIncome DECIMAL(18,2) = @TotalTopupAmount + @CashSurplusShortage;
    
    -- Get TotalNettAmount from TheoreticalIncome
    DECLARE @TotalNettAmount DECIMAL(18,2) = 0;
    SELECT @TotalNettAmount = ISNULL(SUM(Total), 0)
    FROM [star].[TheoreticalIncome]
    WHERE ReportDate = @ReportDate AND Metric = 'Traffic x Nominal Tariff';
    
    -- TotalActualAmount from cash transactions
    DECLARE @TotalActualAmount DECIMAL(18,2) = 0;
    SELECT @TotalActualAmount = ISNULL(SUM(CAST(ActualAmount AS DECIMAL(18,2))), 0)
    FROM [dbo].[Transaction]
    WHERE TransactionTypeId = 1
      AND TransactionDateTime >= @StartDateTime 
      AND TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    -- Only insert if there is meaningful data
    IF @TotalTopupAmount != 0 OR @CashSurplusShortage != 0 OR @TotalNettAmount != 0 OR @TotalActualAmount != 0
    BEGIN
        INSERT INTO [star].[OtherIncome] 
        (ReportDate, StartDateTime, EndDateTime,
         CashTopupAmount, DigitalTopupAmount, SwitchTopupAmount, 
         NFCTopupAmount, BankDepositTopupAmount, TotalTopupAmount,
         TotalNettAmount, TotalActualAmount, TotalDeclaredAmount,
         CashSurplusShortage, TotalOtherIncome)
        VALUES
        (@ReportDate, @StartDateTime, @EndDateTime,
         @CashTopupAmount, @DigitalTopupAmount, @SwitchTopupAmount,
         @NFCTopupAmount, @BankDepositTopupAmount, @TotalTopupAmount,
         @TotalNettAmount, @TotalActualAmount, @TotalDeclaredAmount,
         @CashSurplusShortage, @TotalOtherIncome);
    END
    
    PRINT 'Other Income refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END;
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshReconciliation]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshReconciliation]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL,
    @TotalIncomeA DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    DELETE FROM [star].[Reconciliation] WHERE ReportDate = @ReportDate;
    
    -- 1. Cash Declared (from CollectorCashup)
    DECLARE @CashDeclared DECIMAL(18,2) = 0;
    SELECT @CashDeclared = ISNULL(SUM(TotalDeclared), 0)
    FROM [star].[CollectorCashup]
    WHERE ShiftDate = @ReportDate
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    -- 2. Cash Banked (placeholder)
    DECLARE @CashBanked DECIMAL(18,2) = 0.00;
    
    -- 3. Cash Surplus/Shortage
    DECLARE @CashSurplusShortageRec DECIMAL(18,2) = @CashDeclared - @CashBanked;
    
    -- 4. Switch Amount (from top-ups)
    DECLARE @SwitchAmount DECIMAL(18,2) = 0;
    SELECT @SwitchAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 3 THEN Amount END), 0)
    FROM [dbo].[RegisteredUserTopUp] WHERE CAST(RechargedOn AS DATE) = @ReportDate;
    
    -- 5. Digital Amount (from top-ups)
    DECLARE @DigitalAmount DECIMAL(18,2) = 0;
    SELECT @DigitalAmount = ISNULL(SUM(CASE WHEN PaymentMethodId = 2 THEN Amount END), 0)
    FROM [dbo].[RegisteredUserTopUp] WHERE CAST(RechargedOn AS DATE) = @ReportDate;
    
    -- 6. Pre-Paid Transactions
    DECLARE @SmartCardAmount DECIMAL(18,2) = 0;
    DECLARE @ETCTagAmount DECIMAL(18,2) = 0;
    DECLARE @PrePaidTotal DECIMAL(18,2) = 0;
    
    SELECT 
        @SmartCardAmount = ISNULL(SUM(CASE WHEN TransactionTypeId = 3 THEN CAST(ActualAmount AS DECIMAL(18,2)) END), 0),
        @ETCTagAmount = ISNULL(SUM(CASE WHEN TransactionTypeId = 2 THEN CAST(ActualAmount AS DECIMAL(18,2)) END), 0)
    FROM [dbo].[Transaction]
    WHERE TransactionDateTime >= @StartDateTime 
      AND TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    SET @PrePaidTotal = @SmartCardAmount + @ETCTagAmount;
    
    -- 7. Other Lane Transactions (Violation)
    DECLARE @ViolationAmount DECIMAL(18,2) = 0;
    DECLARE @ExemptionsAmount DECIMAL(18,2) = 0;
    DECLARE @OtherLaneTotal DECIMAL(18,2) = 0;
    
    SELECT @ViolationAmount = ISNULL(SUM(CASE WHEN TransactionTypeId = 5 THEN CAST(NominalTariff AS DECIMAL(18,2)) END), 0)
    FROM [dbo].[Transaction]
    WHERE TransactionDateTime >= @StartDateTime 
      AND TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    SET @ExemptionsAmount = 0.00;
    SET @OtherLaneTotal = @ViolationAmount + @ExemptionsAmount;
    
    -- 8. Collector Debt
    DECLARE @TotalExpectedCash DECIMAL(18,2) = 0;
    DECLARE @CollectorDebt DECIMAL(18,2) = 0;
    DECLARE @CashShortages DECIMAL(18,2) = 0;
    
    SELECT @TotalExpectedCash = ISNULL(SUM(CAST(ActualAmount AS DECIMAL(18,2))), 0)
    FROM [dbo].[Transaction]
    WHERE TransactionTypeId = 1
      AND TransactionDateTime >= @StartDateTime 
      AND TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    IF @TotalExpectedCash > @CashDeclared
    BEGIN
        SET @CollectorDebt = @TotalExpectedCash - @CashDeclared;
        SET @CashShortages = @CollectorDebt;
    END
    ELSE
    BEGIN
        SET @CollectorDebt = 0.00;
        SET @CashShortages = 0.00;
    END
    
    -- 9. Total Accounted (B)
    DECLARE @TotalAccounted DECIMAL(18,2) = 
        @CashDeclared + @SwitchAmount + @DigitalAmount + 
        @PrePaidTotal + @OtherLaneTotal + @CollectorDebt;
    
    -- 10. Total Income (A)
    IF @TotalIncomeA IS NULL
    BEGIN
        DECLARE @TrafficProductTotal DECIMAL(18,2) = 0;
        DECLARE @TotalExemptAmount DECIMAL(18,2) = 0;
        DECLARE @TotalDiscountAmount DECIMAL(18,2) = 0;
        DECLARE @TotalOtherIncome DECIMAL(18,2) = 0;
        DECLARE @TotalDiscountedIncome DECIMAL(18,2) = 0;
        
        SELECT @TrafficProductTotal = ISNULL(SUM(Total), 0)
        FROM [star].[TheoreticalIncome] 
        WHERE ReportDate = @ReportDate AND Metric = 'Traffic x Nominal Tariff';
        
        SELECT @TotalExemptAmount = ISNULL(SUM(TotalExemptAmount), 0)
        FROM [star].[Exempts] 
        WHERE ReportDate = @ReportDate;
        
        SELECT @TotalDiscountAmount = ISNULL(SUM(
            Class_M_AnonymousAmount + Class_1_AnonymousAmount + Class_2_AnonymousAmount + Class_3_AnonymousAmount + Class_4_AnonymousAmount + Class_D_AnonymousAmount +
            Class_M_IndividualAmount + Class_1_IndividualAmount + Class_2_IndividualAmount + Class_3_IndividualAmount + Class_4_IndividualAmount + Class_D_IndividualAmount +
            Class_M_CorporateAmount + Class_1_CorporateAmount + Class_2_CorporateAmount + Class_3_CorporateAmount + Class_4_CorporateAmount + Class_D_CorporateAmount +
            Class_M_StaffAmount + Class_1_StaffAmount + Class_2_StaffAmount + Class_3_StaffAmount + Class_4_StaffAmount + Class_D_StaffAmount
        ), 0)
        FROM [star].[Discounts] 
        WHERE ReportDate = @ReportDate;
        
        SELECT @TotalOtherIncome = ISNULL(SUM(TotalOtherIncome), 0)
        FROM [star].[OtherIncome] 
        WHERE ReportDate = @ReportDate;
        
        SET @TotalDiscountedIncome = @TrafficProductTotal - @TotalExemptAmount - @TotalDiscountAmount;
        SET @TotalIncomeA = @TotalDiscountedIncome + @TotalOtherIncome;
    END
    
    -- 11. Discrepancy
    DECLARE @Discrepancy DECIMAL(18,2) = @TotalIncomeA - @TotalAccounted;
    
    -- Only insert if there is meaningful data
    IF @CashDeclared != 0 OR @SwitchAmount != 0 OR @DigitalAmount != 0 OR @PrePaidTotal != 0 OR @OtherLaneTotal != 0 OR @CollectorDebt != 0
    BEGIN
        INSERT INTO [star].[Reconciliation] 
        (ReportDate, StartDateTime, EndDateTime,
         CashDeclared, CashBanked, CashSurplusShortage,
         SwitchAmount, DigitalAmount,
         PrePaidTotal, SmartCardAmount, ETCTagAmount,
         OtherLaneTotal, ViolationAmount, ExemptionsAmount,
         CollectorDebt, CashShortages,
         TotalAccounted, Discrepancy)
        VALUES
        (@ReportDate, @StartDateTime, @EndDateTime,
         @CashDeclared, @CashBanked, @CashSurplusShortageRec,
         @SwitchAmount, @DigitalAmount,
         @PrePaidTotal, @SmartCardAmount, @ETCTagAmount,
         @OtherLaneTotal, @ViolationAmount, @ExemptionsAmount,
         @CollectorDebt, @CashShortages,
         @TotalAccounted, @Discrepancy);
    END
    
    PRINT 'Reconciliation refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END;
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshTheoreticalIncome]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshTheoreticalIncome]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    DELETE FROM [star].[TheoreticalIncome] 
    WHERE ReportDate = @ReportDate;
    
    -- Only insert if there are transactions
    IF EXISTS (
        SELECT 1 FROM [star].[Transaction] t
        WHERE t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId)
    )
    BEGIN
        -- 1. Traffic Counts
        INSERT INTO [star].[TheoreticalIncome] 
        (ReportDate, StartDateTime, EndDateTime, Metric, 
         Class_1, Class_2, Class_3, Class_4, Class_D, Class_M, Total)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime, 'Traffic',
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 1 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 2 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 3 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 4 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 5 THEN 1 END), 0),
            ISNULL(COUNT(CASE WHEN t.ManualTollClassId = 6 THEN 1 END), 0),
            COUNT(*)
        FROM [star].[Transaction] t
        WHERE t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId);
        
        -- 2. Nominal Tariffs (Average)
        INSERT INTO [star].[TheoreticalIncome] 
        (ReportDate, StartDateTime, EndDateTime, Metric, 
         Class_1, Class_2, Class_3, Class_4, Class_D, Class_M, Total)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime, 'Nominal Tariff',
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 1 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 2 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 3 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 4 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 5 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            ISNULL(AVG(CASE WHEN t.ManualTollClassId = 6 THEN CAST(t.NominalTariff AS DECIMAL(18,2)) END), 0),
            NULL
        FROM [star].[Transaction] t
        WHERE t.TransactionDateTime >= @StartDateTime 
          AND t.TransactionDateTime <= @EndDateTime
          AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId);
        
        -- Apply defaults if zero
        UPDATE [star].[TheoreticalIncome]
        SET 
            Class_M = CASE WHEN Class_M = 0 THEN 25.00 ELSE Class_M END,
            Class_1 = CASE WHEN Class_1 = 0 THEN 50.00 ELSE Class_1 END,
            Class_2 = CASE WHEN Class_2 = 0 THEN 200.00 ELSE Class_2 END,
            Class_3 = CASE WHEN Class_3 = 0 THEN 500.00 ELSE Class_3 END,
            Class_4 = CASE WHEN Class_4 = 0 THEN 100.00 ELSE Class_4 END,
            Class_D = CASE WHEN Class_D = 0 THEN 150.00 ELSE Class_D END
        WHERE ReportDate = @ReportDate AND Metric = 'Nominal Tariff';
        
        -- 3. Traffic x Nominal Tariff
        INSERT INTO [star].[TheoreticalIncome] 
        (ReportDate, StartDateTime, EndDateTime, Metric, 
         Class_1, Class_2, Class_3, Class_4, Class_D, Class_M, Total)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime, 'Traffic x Nominal Tariff',
            t.Class_1 * n.Class_1,
            t.Class_2 * n.Class_2,
            t.Class_3 * n.Class_3,
            t.Class_4 * n.Class_4,
            t.Class_D * n.Class_D,
            t.Class_M * n.Class_M,
            (t.Class_1 * n.Class_1) + (t.Class_2 * n.Class_2) + (t.Class_3 * n.Class_3) + 
            (t.Class_4 * n.Class_4) + (t.Class_D * n.Class_D) + (t.Class_M * n.Class_M)
        FROM 
            (SELECT Class_1, Class_2, Class_3, Class_4, Class_D, Class_M 
             FROM [star].[TheoreticalIncome] 
             WHERE ReportDate = @ReportDate AND Metric = 'Traffic') t
        CROSS JOIN
            (SELECT Class_1, Class_2, Class_3, Class_4, Class_D, Class_M 
             FROM [star].[TheoreticalIncome] 
             WHERE ReportDate = @ReportDate AND Metric = 'Nominal Tariff') n;
        
        -- 4. TOTAL THEORETICAL INCOME
        INSERT INTO [star].[TheoreticalIncome] 
        (ReportDate, StartDateTime, EndDateTime, Metric, Total)
        SELECT 
            @ReportDate, @StartDateTime, @EndDateTime, 'TOTAL THEORETICAL INCOME',
            SUM(Total)
        FROM [star].[TheoreticalIncome]
        WHERE ReportDate = @ReportDate 
          AND Metric = 'Traffic x Nominal Tariff';
    END
    
    PRINT 'Theoretical Income refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) +
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END;
END;
GO
/****** Object:  StoredProcedure [star].[usp_RefreshTransaction]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RefreshTransaction]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReportDateTime DATETIME = CAST(@ReportDate AS DATETIME);
    DECLARE @StartDateTime DATETIME = DATEADD(MINUTE, 30, DATEADD(HOUR, 5, @ReportDateTime));
    DECLARE @EndDateTime DATETIME = DATEADD(MINUTE, -1, DATEADD(MINUTE, 30, DATEADD(HOUR, 5, DATEADD(DAY, 1, @ReportDateTime))));
    
    -- Delete existing data for this period and shift
    DELETE FROM [star].[Transaction] 
    WHERE TransactionDateTime >= @StartDateTime 
      AND TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR ShiftId = @ShiftId);
    
    -- Insert from source
    INSERT INTO [star].[Transaction] (
        LaneId, TransactionNumber, TransactionTypeId, DiscountTypeId,
        TransactionDateTime, ShiftId, ShiftDate, SystemUserId,
        ManualTollClassId, TariffPlanId, CurrencyId,
        NominalTariff, DiscountValue, DiscountPercentage, NettAmount, VatAmout,
        InvoiceReceiptPrefix, InvoiceNo, ReceiptNo,
        AutomaticTollClassId, AutomaticAmount,
        ForeignCurrencyReceived, ExchangeRateUsed, ChangeInLocalCurrency,
        RegisteredUserId, RegisteredIdentifier, RegisteredTollClassId, CardNumber,
        ActualTollClassId, ActualAmount, AllocatedToCollectorCashupId
    )
    SELECT 
        t.LaneId, t.TransactionNumber, t.TransactionTypeId, t.DiscountTypeId,
        t.TransactionDateTime, t.ShiftId, t.ShiftDate, t.SystemUserId,
        t.ManualTollClassId, t.TariffPlanId, t.CurrencyId,
        t.NominalTariff, t.DiscountValue, t.DiscountPercentage, t.NettAmount, t.VatAmout,
        t.InvoiceReceiptPrefix, t.InvoiceNo, t.ReceiptNo,
        t.AutomaticTollClassId, t.AutomaticAmount,
        t.ForeignCurrencyReceived, t.ExchangeRateUsed, t.ChangeInLocalCurrency,
        t.RegisteredUserId, t.RegisteredIdentifier, t.RegisteredTollClassId, t.CardNumber,
        t.ActualTollClassId, t.ActualAmount, t.AllocatedToCollectorCashupId
    FROM [dbo].[Transaction] t
    WHERE t.TransactionDateTime >= @StartDateTime 
      AND t.TransactionDateTime <= @EndDateTime
      AND (@ShiftId IS NULL OR t.ShiftId = @ShiftId);
    
    PRINT 'Transaction data refreshed for ' + CAST(@ReportDate AS VARCHAR(20)) + 
          CASE WHEN @ShiftId IS NOT NULL THEN ' Shift ' + CAST(@ShiftId AS VARCHAR(10)) ELSE '' END +
          ' - Records: ' + CAST(@@ROWCOUNT AS VARCHAR(10));
END;
GO
/****** Object:  StoredProcedure [star].[usp_RunEndOfDayProcess]    Script Date: 2026/04/23 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [star].[usp_RunEndOfDayProcess]
    @ReportDate DATE,
    @ShiftId TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT '========================================';
    PRINT 'STARTING END OF DAY PROCESS FOR: ' + CAST(@ReportDate AS VARCHAR(20));
    PRINT '========================================';
    
    -- Step 1: Pull data from dbo to star
    EXEC [star].[usp_PullAllData] @ReportDate, @ReportDate, @ShiftId;
    
    -- Step 2: Refresh all star tables with calculations
    EXEC [star].[usp_RefreshAll] @ReportDate, @ShiftId;
    
    -- Step 3: Generate the report
    EXEC [star].[usp_GenerateEndOfDayReport] @ReportDate, @ReportDate, @ShiftId;
    
    PRINT '========================================';
    PRINT 'END OF DAY PROCESS COMPLETED';
    PRINT '========================================';
END;
GO
